.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-digit-active {
    animation: Heartbeat infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-number {
  color: #61dafb;
  font-size: 30vmin;
  display: flex;
}

.App-digit-active {
  color: white;
}

.App-asterisks {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-flow: row nowrap;
}

.App-asterisk {
  border-bottom: 10px solid white;
  flex: 0 1 calc(20% - 8px);
  font-size: 15vmin;
  height: 10vmin;
  padding-bottom: 5vmin;
  margin-right: 1vmin;
  margin-left: 1vmin;
}

.App-asterisk-success {
  color: #61dafb;
  border-bottom: 10px solid #61dafb;
}

.App-asterisk-fail {
  color: red;
  border-bottom: 10px solid red;
}

@keyframes Heartbeat
{
  0%
  {
    transform: scale( .90 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .90 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .90 );
  }
  100%
  {
    transform: scale( .90 );
  }
}